/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}

.progress-bar-loader {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: #0d6efd;
    width: 0%;
    animation: progress 5s linear forwards;
}

.carousel-item.active .progress-bar-loader {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
