main {
    padding-top: 80px;
}

/* Paleta de colores */
:root {
    --color-blanco: #FFFFFF;
    --color-gris-medio: #777782;
    --color-gris-oscuro: #787882;
    --color-gris-oscuro2: rgb(95, 95, 105)2;
    --color-gris-claro: #B8B8B8;
    --color-azul-oscuro: #101123;
    --color-gris-azulado: #8B8B94;
    --color-negro: #000000;
}

/* Barra de navegación */
.ContendNav {
    background-color: var(--color-blanco) !important;
    box-shadow: 0 6px 10px rgba(4, 0, 52, 0.57);
}

#NavScroll .nav-link.active {
    color: inherit !important;
    background-color: transparent !important;
}

/* Logo */
.LogoNav {
    height: 45px;
    transition: transform 0.3s ease;
}

.LogoNav:hover {
    transform: scale(1.05);
}

/* Links */
.nav-link {
    color: var(--color-negro) !important;
    font-weight: 500;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 8px;
    padding: 6px 14px;
}

.nav-link:hover {
    color: var(--color-blanco) !important;
    background-color: #010654a7;
}

/* Activo (ejemplo para Inicio) */
.nav-link.active {
    background-color: #010754eb !important;
}

.nav-item {
    position: relative;
}

/* Listado de equipos */
.equipos-list ul li {
    padding: 6px 0;
}

.dropdown-item:hover {
    font-weight: 600;
}

/* Dropdown mega menu */
.mega-menu {
    width: 700px;
    height: 350px;
    max-width: 700px;
    max-height: 350px;
    padding: 20px;

    opacity: 0;
    transform: translateY(0);
    transition: all 0.3s ease;

    position: absolute;
    top: 100%;
    left: -200px;

    background-color: var(--color-blanco);
    border: 1px solid var(--color-gris-claro);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.mega-menu .equipos-col {
    max-height: 250px;
    overflow-y: auto;
    padding-right: 10px;
}

.nav-item:hover .mega-menu {
    display: block;
    opacity: 1;
}

.mega-menu h5,
.mega-menu h6 {
    color: var(--color-azul-oscuro);
    font-weight: 600;
}


.mega-menu .dropdown-item {
    color: var(--color-negro);
    transition: background 0.2s ease, color 0.2s ease;
}

.mega-menu .dropdown-item:hover,
.mega-menu .dropdown-item:focus,
.mega-menu .dropdown-item:active {
    background-color: var(--color-gris-oscuro) !important;
    color: var(--color-blanco) !important;
    border-radius: 10px;
}


/* Iconos SVG */
.nav-link svg {
    margin-bottom: 2px;
    fill: var(--color-negro);
    transition: fill 0.3s ease;
}

.nav-link:hover svg {
    fill: var(--color-blanco);
}

.feature-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s ease;
}

.feature-box:hover {
    transform: translateY(-5px);
}

.feature-icon {
    font-size: 30px;
}

.phone-img {
    max-width: 260px;
    margin: auto;
    display: block;
}

.features-section {
    padding: 60px 0;
    background: linear-gradient(135deg, #f7f7ff, #fdf2f5);
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.business-goal-one {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px;
}

.business-goal-one img:first-child {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.business-goal-one .BlockYears {
    position: absolute;
    bottom: 0px;
    left: -100px;
    width: 10%;
    height: 15%;
    top: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: Abajo 1.5s ease-in-out infinite alternate;
}

.business-goal-one .ImagenY {
    position: absolute;
    bottom: 0px;
    right: -140px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    animation: Arriba 1.5s ease-in-out infinite alternate;
}

/* Animación arriba/abajo */
@keyframes Abajo {
    from {
        transform: translateY(35px);
    }

}

@keyframes Arriba {
    from {
        transform: translateY(-35px);
    }
}

/*  Ajuste en pantallas medianas */
@media (max-width: 992px) and (min-width: 768px) {
    .business-goal-one img.small {
        right: -40px;
        width: 55%;
    }
}

@media (max-width: 1400px) {
    .business-goal-one img.small {
        right: -40px;
        width: 55%;
    }
}

/* Ajuste en pantallas pequeñas */
@media (max-width: 576px) {
    .business-goal-one img.small {
        position: relative;
        right: 0;
        bottom: 0;
        width: 100%;
        margin-top: 15px;
    }
}



.pre-title {
    color: #d90000;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.goal-button-wrapper a {
    margin-right: 20px;
}

.rts-btn {
    background-color: #d90000;
    color: #fff;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.rts-btn:hover {
    background-color: #b50000;
}


.video-play-button span {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.ImagenNosotros {
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 1, 1);
    height: auto;
    max-height: 400px;
    object-fit: cover;
    transition: scale 0.3s ease;
}

.ImagenNosotros:hover {
    scale: 1.05;
}


.textoNosotros {
    font-size: 3.5rem;
}

/*Transtions colors icons footer*/
.iconofooterW,
.iconofooterF,
.iconofooterL,
.iconofooterT,
.iconofooterX,
.instagram-icon {
    transition: color 0.5s ease;
}

.iconofooterW {
    color: #25D366;
}

.iconofooterF {
    color: #3b5998;
}

.iconofooterT {
    color: #000000;
}

.iconofooterL {
    color: #0A66C2;
}

.iconofooterX {
    color: #000000;
}


.instagram-link:hover .icon-path {
    fill: url(#instagram-gradient);
}


.cartalaboratorio1 {
    transition: scale 0.3s ease;
    cursor: pointer;
}

.cartalaboratorio1:hover {
    scale: 1.08;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(151, 148, 148, 0.3);
    animation: zoomIn 0.3s ease-in-out;
}

/* Botón cerrar */
.lightbox .cerrar {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* Animación suave */
@keyframes zoomIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


/*Rotación de imagenes*/
@keyframes girarMoneda {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.img-girando:hover {
    animation: girarMoneda 1s linear forwards;
    transform-style: preserve-3d;
}




/* Contenedor del mapa */
.map-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* Estilos del iframe */
.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
    transition: transform 0.4s ease;
}

/* Efecto al pasar el mouse */
.map-container:hover iframe {
    transform: scale(1.02);
}

.carousel-img {
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
}